In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [17]:
waiter = pd.read_csv('tips.csv')
waiter.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
figure = px.scatter(data_frame= waiter, x='total_bill', 
                    y='tip', size='size',color='day',trendline='ols')

figure.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed