 # ASSIGMENT MLCOURSEAI

# Exploratory Data Analysis With Pandas

import library

In [6]:
# library komputasi numerik
import pandas as pd
import numpy as np

pd.set_option('display.max.columns', 101)

# ignore warning
import warnings
warnings.filterwarnings('ignore')

# library visualisasi
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# read data 
Data_url = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"
data = pd.read_csv(Data_url + "adult.data.csv")

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 1. Berapa banyak pria dan wanita (fitur jenis kelamin) yang mewakili dalam dataset ini?

In [8]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

# 2. Berapa rata-rata usia (fitur usia) wanita?

In [9]:
data[data['sex'] == "Female"]["age"].mean()

36.85823043357163

# 3. Berapa persentase warga negara Jerman (fitur negara asal)?

In [10]:
float((data["native-country"] == "Germany").sum()) / data.shape[0]

0.004207487485028101

# 4, 5. Apa rata-rata dan deviasi standar usia untuk mereka yang menghasilkan lebih dari 50K per tahun (fitur gaji) dan mereka yang menghasilkan kurang dari 50K per tahun?

In [11]:
ages_1 = data[data['salary'] == ">50k"]["age"]
ages_2 = data[data["salary"] == "<=50k"]["age"]
print(
 "The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
  
 )
)

IndexError: Replacement index 0 out of range for positional args tuple

# 6. Apakah benar bahwa orang yang menghasilkan lebih dari 50K memiliki setidaknya pendidikan SMA? (pendidikan â€“ Bachelors , Prof-school , Assoc-acdm , Assoc-voc , Masters atau Doctorate fitur

# 7. Tampilkan statistik usia untuk setiap ras (fitur race) dan setiap jenis kelamin (fitur sex). Gunakan groupby() dan describe(). Temukan usia maksimum laki-laki ras Amer-Indian-Eskimo .

# 8. Di antara mereka, proporsi yang menghasilkan banyak uang ( >50K ) lebih besar adalah: laki-laki yang sudah menikah atau yang belum menikah (fitur marital-status)? Dianggap sebagai menikah mereka yang memiliki marital-status yang dimulai dengan Married ( Married-civ-spouse , Married-spouse-absent atau Married-AF-spouse ), sisanya dianggap sebagai laki-laki yang belum menikah.

# 9. Berapa jumlah maksimum jam yang seseorang bekerja per minggu (fitur jam-per-minggu)? Berapa banyak orang yang bekerja sejumlah jam tersebut, dan persentase mereka yang menghasilkan banyak ( >50K ) di antara mereka?

# 10. Hitung rata-rata waktu kerja (hours-per-week) untuk mereka yang menghasilkan sedikit dan banyak (salary) untuk setiap negara (native-country). Apa hasilnya untuk Jepang?