In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.__version__

'2.2.3'

# pandas series

In [ ]:
# membuat sebuah series
my_series = pd.Series([10,20,30,40,50], index = ["a", "b","c", "d", "e"])
my_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
# cek type my_series
type(my_series)

pandas.core.series.Series

In [11]:
# akses elemen a 
my_series["a"]

np.int64(10)

In [12]:
# akses elemen dari b sampai d
my_series["b" : "d"]

b    20
c    30
d    40
dtype: int64

In [13]:
my_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

operasi aritmatika

In [ ]:
# menambahkan 5 untuk my_series
my_series + 5

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [16]:
my_series * 2

a     20
b     40
c     60
d     80
e    100
dtype: int64

In [17]:
my_series /2

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
dtype: float64

overview data

In [ ]:
# cek tipe first elemen
type(my_series[0])

C:\Users\ghatfan\AppData\Local\Temp\ipykernel_13092\1721584435.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(my_series[0])

numpy.int64

In [21]:
my_series.dtype

dtype('int64')

In [22]:
my_series.size

5

In [23]:
my_series.shape

(5,)

In [25]:
my_series.head()

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [28]:
my_series.tail(2)

d    40
e    50
dtype: int64

In [29]:
my_series.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [ ]:
# melihat distribusi data
my_series.sort_values(ascending= False)

e    50
d    40
c    30
b    20
a    10
dtype: int64

# Dataframe

In [ ]:
# create a dictionary data
data = {"Name" : ["john", "Emily", "Kate", "Sam"], 
        "Age" : [25, 30, 28, 35], 
        "City" : ["New York", "San Fransisco", "Chicago", "Seattle"]}

In [32]:
data

{'Name': ['john', 'Emily', 'Kate', 'Sam'],
 'Age': [25, 30, 28, 35],
 'City': ['New York', 'San Fransisco', 'Chicago', 'Seattle']}

In [34]:
df = pd.DataFrame(data)

In [35]:
df

    Name  Age           City
0   john   25       New York
1  Emily   30  San Fransisco
2   Kate   28        Chicago
3    Sam   35        Seattle

In [36]:
data_list = [["John", 25, "New York"], ["Emily", 30, "San Fransisco"], ["kate", 28,"Chicago"], ["Sam", 35,"Seattle" ]]

In [37]:
data_list

[['John', 25, 'New York'],
 ['Emily', 30, 'San Fransisco'],
 ['kate', 28, 'Chicago'],
 ['Sam', 35, 'Seattle']]

In [ ]:
df-list = pd.DataFrame(data_list, columns= ["Name", "Age", "City"])

array

In [39]:
data_array = np.array ( [[1,2,3], [4,5,6], [7,8,9]])