USA HOUSE PRICES

import library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# membaca data
df_house = pd.read_csv("USA Housing Dataset.csv")
print(df_house)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-09 00:00:00  3.760000e+05       3.0       2.00         1340
1     2014-05-09 00:00:00  8.000000e+05       4.0       3.25         3540
2     2014-05-09 00:00:00  2.238888e+06       5.0       6.50         7270
3     2014-05-09 00:00:00  3.240000e+05       3.0       2.25          998
4     2014-05-10 00:00:00  5.499000e+05       5.0       2.75         3060
...                   ...           ...       ...        ...          ...
4135  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4136  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4137  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4138  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4139  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         1384     3.0           0     0          3        1340
1       159430     2.0           0     0          3        3540
2       130017     2.0           0     0          3        6420
3          904     2.0           0     0          3         798
4         7015     1.0           0     0          5        1600
...        ...     ...         ...   ...        ...         ...
4135      6360     1.0           0     0          4        1510
4136      7573     2.0           0     0          3        1460
4137      7014     2.0           0     0          3        3010
4138      6630     1.0           0     0          3        1070
4139      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                   street  \
0                 0      2008             0  9245-9249 Fremont Ave N
1                 0      2007             0         33001 NE 24th St
2               850      2010             0         7070 270th Pl SE
3               200      2007             0           820 NW 95th St
4              1460      1979             0        10834 31st Ave SW
...             ...       ...           ...                      ...
4135              0      1954          1979           501 N 143rd St
4136              0      1983          2009         14855 SE 10th Pl
4137              0      2009             0         759 Ilwaco Pl NE
4138           1020      1974             0        5148 S Creston St
4139              0      1990             0        18717 SE 258th St

           city  statezip country
0       Seattle  WA 98103     USA
1     Carnation  WA 98014     USA
2      Issaquah  WA 98029     USA
3       Seattle  WA 98117     USA
4       Seattle  WA 98146     USA
...         ...       ...     ...
4135    Seattle  WA 98133     USA
4136   Bellevue  WA 98007     USA
4137     Renton  WA 98059     USA
4138    Seattle  WA 98178     USA
4139  Covington  WA 98042     USA

[4140 rows x 18 columns]

In [ ]:
# menganalisis data 
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4140 non-null   object
 1   price          4140 non-null   float64
 2   bedrooms       4140 non-null   int32
 3   bathrooms      4140 non-null   float64
 4   sqft_living    4140 non-null   int64
 5   sqft_lot       4140 non-null   int64
 6   floors         4140 non-null   int32
 7   waterfront     4140 non-null   int64
 8   view           4140 non-null   int64
 9   condition      4140 non-null   int64
 10  sqft_above     4140 non-null   int64
 11  sqft_basement  4140 non-null   int64
 12  yr_built       4140 non-null   int64
 13  yr_renovated   4140 non-null   int64
 14  street         4140 non-null   object
 15  city           4140 non-null   object
 16  statezip       4140 non-null   object
 17  country        4140 non-null   object
dtypes: float64(2), int32(2), int64(9), object(5)
memory usage: 550.0+ KB

terdapat kejanggalan di kolom bedrooms dan floors

In [ ]:
df_house[["bedrooms", "floors", ]] = df_house[["bedrooms", "floors"]].astype(int)

maka itu aku coba ganti ke kolom int

In [ ]:
df_house.info() # mengecek ulang data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4140 non-null   object
 1   price          4140 non-null   float64
 2   bedrooms       4140 non-null   int32
 3   bathrooms      4140 non-null   float64
 4   sqft_living    4140 non-null   int64
 5   sqft_lot       4140 non-null   int64
 6   floors         4140 non-null   int32
 7   waterfront     4140 non-null   int64
 8   view           4140 non-null   int64
 9   condition      4140 non-null   int64
 10  sqft_above     4140 non-null   int64
 11  sqft_basement  4140 non-null   int64
 12  yr_built       4140 non-null   int64
 13  yr_renovated   4140 non-null   int64
 14  street         4140 non-null   object
 15  city           4140 non-null   object
 16  statezip       4140 non-null   object
 17  country        4140 non-null   object
dtypes: float64(2), int32(2), int64(9), object(5)
memory usage: 550.0+ KB

In [59]:

# memisahkan data khusus object
object_columns = df_house.select_dtypes('object').columns
print(object_columns)

Index(['date', 'street', 'city', 'statezip', 'country'], dtype='object')

In [58]:
int_columns = df_house.select_dtypes('int').columns
print(int_columns) # memisahkan data khusus int

Index(['bedrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view',
       'condition', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated'],
      dtype='object')

In [57]:
float_list = df_house.select_dtypes('float').columns.tolist()
print(float_list) # memisahkan data khusus float

['price', 'bathrooms']

missing value

In [62]:
# mencari missinf value dan memfilternya
df_house.isnull().sum()[df_house.isnull().sum() > 0]

Series([], dtype: int64)

perlu di perhatikan bahwa nggak semua nilai NaN atau nilai 0 itu missing value, bisa saja data dari perusahaanya memang 0 jadi nggak usah dihapus daripada kehilangan banyak data.

In [42]:
# kolom dengan nilai 0
columns_dengan_nilai_0 = {"wsaterFront", "view"}

# print columns_dengan_nilai_0
print(f"kolom dengan nilai 0 adalah : {len(columns_dengan_nilai_0)}")

kolom dengan nilai 0 adalah : 2

In [63]:
# copy buat backup data 
df_house_handled = df_house.copy()

oke overall datanya sudah bagus dan bersih

In [65]:
house_price_merge = pd.merge(df_house,df_house_handled, how="right").copy()
house_price_merge

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,3.760000e+05,3,2.00,1340,1384,3,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,8.000000e+05,4,3.25,3540,159430,2,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2.238888e+06,5,6.50,7270,130017,2,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,3.240000e+05,3,2.25,998,904,2,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,5.499000e+05,5,2.75,3060,7015,1,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,3.081667e+05,3,1.75,1510,6360,1,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4136,2014-07-09 00:00:00,5.343333e+05,3,2.50,1460,7573,2,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4137,2014-07-09 00:00:00,4.169042e+05,3,2.50,3010,7014,2,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4138,2014-07-10 00:00:00,2.034000e+05,4,2.00,2090,6630,1,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4139,2014-07-10 00:00:00,2.206000e+05,3,2.50,1490,8102,2,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA